body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(2, 0, 36, 1) 100%);
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

p {
    color: white;
    text-align: center;
}

footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

input {
    background-color: #090979 !important;
    color: white !important;
}

label {
    color: white !important;
}